<div class='col-xs-12'>
    <div class='row'>
        <h4 class='col-sm-2 col-xs-6 '>Username</h4>
        <h4 class='col-sm-4 col-xs-6'>Full Name</h4>
        <h4 class='col-md-4 hidden-xs'>Email</h4>

        <div id='user-index-container' class='col-xs-12'>

        </div>
    </div>
</div>


<div id='user-index-templates' class='hidden'>
    <div class='users-list'>
        <div class='well well-sm'>
            <div class='row'>
                <div class='col-sm-2 col-xs-6 username'></div>
                <div class='col-sm-4 col-xs-6 fullname'></div>
                <div class='col-sm-4 col-xs-6 email'></div>
                <div class='col-sm-2 col-xs-6'>
                    <button class='btn btn-default btn-xs user-link' data-toggle='page'>details</button>
                </div>
            </div>
        </div>
    </div>
</div>