<div id='user-view-details' class='col-xs-12'>User Details</div>

<div id='user-view-templates' class='hidden'>
    <div class='users-list'>
        <div class='well well-sm'>
            <div class='row'>
                <div class='col-sm-2 col-xs-6 username'></div>
                <div class='col-sm-4 col-xs-6 fullname'></div>
                <div class='col-sm-4 col-xs-6 email'></div>
                <div class='col-sm-2 col-xs-6'>
                    <button class='btn btn-default btn-xs user-link' data-toggle='page'>details</button>
                </div>
            </div>
        </div>
    </div>
    <div class='user-details container'>
        <div class='row'>
            <div class='col-xs-6 col-sm-3'>ID:</div>
            <div class='col-xs-6 col-sm-9 userid'></div>
        </div>
        <div class='row'>
            <div class='col-xs-6 col-sm-3'>Username:</div>
            <div class='col-xs-6 col-sm-9 username'></div>
        </div>
        <div class='row'>
            <div class='col-xs-6 col-sm-3'>Full Name:</div>
            <div class='col-xs-6 col-sm-9 fullname'></div>
        </div>
    </div>
</div>